<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Auto Insights</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://code.highcharts.com/highcharts.js"></script>
</head>
<body>
    <div class="header">AUTO INSIGHTS</div>
    <div class="container">
        <form method="POST" action="/">
            <input type="search" name="query" placeholder="Enter your query">
            <button type="submit">SEND</button>
        </form>
    </div>
    <div class="flex-container">
        <div class="output-container" id="output">
            <h3>Insights:</h3>
        </div>
        <div class="graph-container" id="graphContainer"></div>
    </div>

    <script src="{{ url_for('static', filename='Functions.js') }}"></script>
    <script>
        var serverOutput = output;
        console.log(output)
    </script>
</body>
</html>